/* Aside menu */
#full-page-cover {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
#aside-menu {
    width: 315px;
    height: 100%;
    background-color: #404040;
}
#am-header {
    @include flexBetweenCenter;
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #202020;
    border-bottom: 1px solid $highlightColor;
}
#close-am {
    padding: 20px 0;
    font-weight: 600;
    cursor: pointer;
}
#am-elements li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: $greyText1;
    transition: 0.2s;

    &:hover {
        background-color: #20202093;
    }
}