/* Navigation */
header {
    @include flexBetweenCenter;
    padding: 0 $layoutSidePadding;
}
#logo {
    font-family: DancingScript;
    font-style: italic;
    font-size: 28px;

    span {
        font-weight: 600;
    }
}
nav ul {
    display: flex;
    gap: 55px;
    text-transform: capitalize;
    font-size: 18px;

    li {
        padding: 10px;
        cursor: pointer;

        @extend .hover-effect;
    }
}
.open-menu {
    display: none;
}
@media only screen and (max-width: 875px) {
    header {
        padding: 0 50px;
    }
}